* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #081b29;
  color: #ededed;

}

.header {
  padding: 20px 10%;
  background-color: transparent;
}

.logo {
  font-size: 25px;
  color: #ededed;
  font-weight: 600;
}

.nav-menu {
  font-size: 18px;
  color: #ededed;
  font-weight: 500;
  transition: 0.3s;

}

.nav-menu:hover {
  color: #00abf0;
}

.home-active {
  color: #00abf0;
}

h1 {
  font-size: 53px;
  font-weight: 700;
  line-height: 1.2;
}

h3 {
  font-size: 32px;
  font-weight: 700;
  color: #00abf0;
}

p {
  font-size: 16px;
  margin: 20px 0 40px;
}

.icon {
  position: relative;
  /* display: inline-flex;
  justify-content: center; */
  align-items: center;
  font-size: 25px;
  width: 40px;
  height: 40px;
  background: transparent;
  border: 2px solid #00abf0;
  border-radius: 50%;
  color: #00abf0;
  z-index: 1;
  overflow: hidden;
  transition: .5s;
}

.icon:hover {
  color: #081b29;
}

.icon::before {
  /* content:''; */
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #00abf0;
  z-index: -1;
  transition: .5s;
}

.icon:hover:before {
  width: 100%;
}

.image_section {
  border-radius: 50%;
}

.card_image {
  /* background: transparent; */
  background-color: #081b29;
}

.caption {
  color: #00abf0;
  transition: width 2s, height 4s;

}